.card {
  position: relative;
  display: block;
  margin: 20px 0;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  padding: 25px;
  background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
}
.btn {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 25px;
  text-decoration: none;
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
  margin: 0 10px;
  border: none;
  background-color: transparent;
  margin: 0 0 20px;
  padding: 0;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.7);
}
.card__header {
  display: flex;
  height: 40%;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card__title {
  width: 80%;
  color: black;
  font-size: 50px;
  font-weight: 700;
}

.card__year {
  color: #555;
  font-weight: 700;
}

.card__rating {
  text-align: center;
  width: 50px;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #596fe9;
}

.card__genres {
  width: 80%;
  color: #959595;
}

.card__img {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 360px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.card__footer {
  height: 50%;
}

.card__slug {
  color: #545454;
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0;
  width: 65%;
}

.list__nav {
  display: flex;
}

.list__nav ul {
  list-style: none;
  padding: 0;
}

.a {
  text-decoration: none;
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.a:hover,
.a:focus {
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.7);
}

.activeLink {
  color: rgba(0, 0, 0, 0.7);
}

.blur_back {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
  width: 100%;
  background-repeat: no-repeat;
}
